/* plain body design */
.p-body
{
display:inline-block;
width:60%;
padding:50px 10px;
margin-left:25%;
border-top:1px solid gray;
border-top-width:1px;
border-left:1px solid gray;
border-right:1px solid gray;
border-bottom:0px solid blue;
border-top-left-radius:300px;
border-top-right-radius:300px;
}
.p-front
{
padding:5px 5px 5px 5px;
}
.p-front h3
{
	text-align: center;
}
.p-seats .seats
{
margin-left:10px;
margin-right:10px;
float:left;
}
.p-left
{
	float:left;
}
.p-right
{
float:right;
}

.seat
{
	margin-top:10px;
	height:32px;
	width:32px;
	border:2px solid gray;
	border-radius:3px;
	padding:5px;
	font-size:9px;
}
.area
{
border-left:1px solid;
overflow-y:scroll;
padding:5px;
margin:10px 20px;
}

.seatBookingDetail{
	background: purple;
	width: 100%;
	height: auto;
	padding: 20px;
	
}